<div class="container-fluid p-4">
    <h3 style="text-align: center; color:#ffa500;">L’INTEGRAZIONE DEI RISCHI DI SOSTENIBILITÀ NELLE SCELTE DI INVESTIMENTO E LA VALUTAZIONE DEGLI IMPATTI DI TALI RISCHI SUL RENDIMENTO DEI PRODOTTI FINANZIARI</h3>
    <p>L’Agente propone ai suoi clienti un’offerta di prodotti di investimento assicurativo interamente realizzati da Unipol. <br><br>
        Unipol ha definito le proprie “Linee Guida per l’attività di investimento responsabile” (le “Linee Guida”), attraverso le quali la Compagnia si impegna a presidiare i Fattori ESG nelle attività di investimento,definendo le modalità di integrazione degli stessi nel relativo processo decisionale, con particolare riferimento agli investimenti diretti delle Gestioni Separate collegate a prodotti rivalutabili e ai PIP attuati medianti tali contratti. Rispetto ai prodotti Unit-Linked e Index-Linked, ai PIP attuati mediante tali contratti nonché ai Fondi Pensione Aperti, fatta eccezione per specifiche opzioni di investimento che integrano i Fattori ESG nei criteri di selezione degli emittenti e di gestione degli investimenti, la Compagnia svolge un monitoraggio ex post sugli investimenti diretti sottostanti, per verificare in che misura rispettano i criteri ESGdefiniti dalle suddette Linee Guida.
        <br><br>
        In questo modo Unipol controlla e gestisce i “rischi di sostenibilità” che potrebbero provocare un significativo impatto negativo effettivo o potenziale sul valore dell’investimento.
        <br><br>
        L’integrazione dei Fattori ESG nei processi decisionali relativi agli investimenti finanziari avviene tramite l’adozione delle seguenti strategie di investimento sostenibile e responsabile:
        <ul>	
            <li>Basato su Convenzioni internazionali (Norm-based Screening), utile alla definizione dei criteri di esclusione conduct-based;</li>
        	<li>Esclusioni product-based e conduct-based.</li>
        </ul>
        La Compagnia valuta l’ammissibilità degli emittenti con il supporto di un provider specializzato che realizza un’analisi delle performance ESG degli stessi sulla base di norme e standard internazionali quali la Dichiarazione Universale dei Diritti Umani, le Convenzioni dell’Organizzazione Internazionale del Lavoro, il Global Compact delle Nazioni Unite e le Linee Guida OCSE destinate alle imprese multinazionali.
        <br><br>
        Questa analisi consente di monitorare e valutare i potenziali ambiti dei Rischi di sostenibilità e, in particolare:
        <br><br>
        a.	gli eventi connessi ad aspetti ESG che generano rischi legali e/o reputazionali, ad esempio in relazione alla presenza di accuse e processi che coinvolgono gli emittenti considerati, con potenziale impatto sul valore del titolo;
        <br><br>
        b.	la condotta ESG degli emittenti, verificando quanto questi ultimi siano impegnati a definire presidi (quali ad esempio business ethics e relativa supervisione, proattiva supervisione del modello di rischio e relativo collegamento alla strategia, strumenti di gestione e controllo, supervisione del board, cultura aziendale, accountability) che possano evitare o mitigare gli eventi connessi ad aspetti ESG;
        <br><br>
        c.	la capacità degli emittenti di gestire gli aspetti ESG che possono determinare vantaggi o svantaggi competitivi, ad esempio la capacità o meno di prevenire evoluzioni normative e di contesto connesse alla gestione degli aspetti ESG.
        <br><br>
        Tale analisi può condurre all’esclusione di un emittente dall’universo investibile.
        <br><br>
        <b>Esclusioni</b>
        <br><br>
        Nel caso di Emittenti Corporate sono previste due tipologie di esclusioni, di seguito descritte.
        <br><br>
        <b>ESCLUSIONI CONDUCT-BASED</b>
        <br><br>
        Sono esclusi gli investimenti in Emittenti Corporate che, nello svolgimento della loro attività principale, siano coinvolti in:
        <br><br>
        <ul>
        <li>violazione dei diritti umani e dei lavoratori;</li>
        <li>sfruttamento delle risorse naturali che non tenga nel dovuto conto i relativi impatti ambientali;</li>
        <li>sistematico della corruzione nella gestione del business.</li>
        </ul>
        <b>ESCLUSIONI PRODUCT-BASED</b>
        <br><br>
        Sono esclusi gli investimenti in Emittenti Corporate coinvolti in:
        <br><br>
        <ul>
        <li>produzione di armi non convenzionali (armi nucleari, bombe a grappolo, mine anti-uomo, armi chimiche, armi biologiche);</li>
        <li>gioco d’azzardo (per oltre il 20% del fatturato);</li>
        <li>estrazione di carbone e generazione di energia elettrica da carbone termico (per oltre il 30% del fatturato, e che non dimostrino un posizionamento sufficientemente ambizioso in termini di transizione del businessverso un’economia a basse emissioni di carbonio).</li>
        </ul>
        Rispetto agli Emittenti governativi, Unipol ritiene non sostenibile investire in titoli di Stato emessi da Paesi in cui si verificano gravi violazioni dei diritti umani o politiche predatorie nei confronti delle risorse ambientali con impatto globale.
        <br><br>
        A partire dalla rilevazione di tali ambiti ESG, il Unipol sta consolidando un modello che consente di valutare gli impatti negativi dei rischi di sostenibilità sul valore degli investimenti e, di conseguenza, sul rendimento dei prodotti finanziari.
        </p>
        <h3 style="text-align: center; color:#ffa500;">LE POLITICHE SULL’INTEGRAZIONE DEI RISCHI DI SOSTENIBILITÀ NELLE CONSULENZE IN MATERIA DI PRODOTTI DI INVESTIMENTO ASSICURATIVO</h3>
        <p>
        L’Agente, in coerenza con le indicazioni fornite dalla Compagnia, nella misura e secondo l’approccio “high-level” e “principle-based” adottato dalla Compagnia che è il soggetto che realizza i prodotti assicurativi stessi, come sopra descritto, integra i rischi di sostenibilità nella propria attività di consulenza in materia di prodotti di investimento assicurativo, secondo il processo previsto dai sistemi informatici messi a disposizione dalla Compagnia.
        <br><br>
        La consulenza in materia di assicurazione riguardo agli IBIP avviene secondo un processo che risponde alle disposizioni dettate dal legislatore europeo e nazionale e dall’Autorità di Vigilanza sulle imprese diassicurazioni e sugli intermediari (IVASS) in cui si integrano le disposizioni contenute nel Regolamento 2088.
        <br><br>
        In particolare, i rischi di sostenibilità che possono impattare sul prodotto finanziario sono espressi dalla Compagnia in modo sintetico, attraverso la valutazione dei probabili impatti dei rischi di sostenibilità sul rendimento dei prodotti finanziari, nella documentazione precontrattuale da essa predisposta e sono considerati dall’Agente, in modo integrato rispetto agli altri fattori di rischio che possono incidere sul rendimento dei prodotti, nell’attuale fase di prima applicazione della normativa, al fine di fornire una visione esaustiva di tutti i rischi potenziali ad essi riferibili.
        <br><br>
        In particolare, l’Agente fa proprio e trasmette al cliente, sia attraverso l’illustrazione del materiale informativo precontrattuale predisposto dalla Compagnia, sia nell’attività di consulenza che segue l’approccio individuato dalla Compagnia, il risultato della valutazione dei possibili impatti dei rischi di sostenibilità sul rendimento dei prodotti finanziari, nella misura in cui esso sia espresso in relazione a ciascuna opzione di investimento ad essi sottostante.
        <br><br>
        Se non si ritengono rilevanti i rischi di sostenibilità, alla luce delle indicazioni ricevute dalla Compagnia, la descrizione contenuta nell’informativa precontrattuale contiene una spiegazione chiara e coincisa.
        </p>
        <h3 style="text-align: center; color:#ffa500;">LA CONSIDERAZIONE DEI PRINCIPALI EFFETTI NEGATIVI DELLE DECISIONI DI INVESTIMENTO SUI FATTORI DI SOSTENIBILITÀ</h3>
        <p>
        Come previsto dalle proprie “Linee Guida”, Unipol considera i principali effetti negativi delle proprie decisioni di investimento sui fattori di sostenibilità (gli “Effetti Negativi”). In particolare, con riferimento agli investimenti finanziari, la Compagnia si impegna a presidiare gli Effetti Negativi attraverso un processo di dovuta diligenza volto a identificare, prevenire e mitigare tali effetti, verificando e valutando l’approccio degli emittenti ai principi di condotta responsabile.
        <br><br>
        In coerenza con le predette Linee Guida, e in relazione al perimetro di investimento ivi definito, la Compagnia identifica nel cambiamento climatico uno dei più rilevanti fattori di rischio di sostenibilità e, insieme, uno degli ambiti più significativi nei quali si possono determinare gli Effetti Negativi.
        <br><br>
        La Compagnia ha inoltre identificato alcuni ulteriori Effetti Negativi come prioritari in relazione agli emittenti corporate, quali in particolare:
        <ul>
        <li>la violazione dei diritti umani e dei lavoratori;</li>
        <li>lo sfruttamento delle risorse naturali che non tenga nel dovuto conto i relativi impatti ambientali;</li>
        <li>l’utilizzo sistematico della corruzione nella gestione del business;</li>
        <li>la produzione di armi non convenzionali (armi nucleari, bombe a grappolo, mine anti-uomo, armi chimiche, armi biologiche);</li>
        <li>la pratica del gioco d’azzardo.</li>
        </ul>
        In relazione agli emittenti governativi, la Compagnia considera come principali Effetti Negativi le gravi violazioni dei diritti umani e le politiche predatorie nei confronti delle risorse ambientali con impatto globale.
        <br><br>
        In merito al cambiamento climatico, le Linee Guida definiscono un insieme di azioni per ridurre gli Effetti Negativi, e in particolare:
        <ul>
        <li>misurazione e monitoraggio della cd. “impronta di carbonio” del perimetro di investimento definito evalutazione dell’allineamento futuro agli obiettivi dell’Accordo di Parigi (Climate alignment) in ottica forward-looking, per meglio comprendere quali sono i settori e gli emittenti che determinano i principali Effetti Negativi in questo ambito e definire le ulteriori conseguenti azioni;</li>
        <li>definizione di esclusioni “selettive” degli emittenti corporate: riconoscendo l'impatto particolarmente nocivo dell’utilizzo del carbone come fonte termica sul clima, la Compagnia esclude a priori dai nuovi investimenti quelli in emittenti corporate che traggono il 30% e oltre dei loro ricavi dalle attività di estrazione di carbone o di generazione di energia elettrica da carbone termico, e che non dimostrino un posizionamento sufficientemente ambizioso in termini di transizione del business verso un’economia a basse emissioni di carbonio. Per misurare tale posizionamento sono utilizzati specifici indicatori e rating di tipo forward-looking forniti da agenzie di ricerca specializzate;</li>
        <li>esclusione degli emittenti governativi che attuano politiche predatorie nei confronti delle risorse ambientali con impatto globale.</li>
        </ul>
        In merito agli altri Effetti Negativi identificati, si adotta una strategia di esclusione volta ad evitare di investire in emittenti corporate ed emittenti governativi che ne sono responsabili.
        </p>
        <h3 style="text-align: center; color:#ffa500;">INFORMAZIONI SULLA CONSIDERAZIONE DEI PRINCIPALI EFFETTI NEGATIVI SUI FATTORI DI SOSTENIBILITÀ NELLE ATTIVITÀ DI CONSULENZA IN MATERIA DI PRODOTTI DI INVESTIMENTO ASSICURATIVO</h3>
        <p>
        La Compagnia ha pubblicato sul proprio sito web la dichiarazione relativa alle proprie politiche in materia di dovuta diligenza per quanto riguarda i principali effetti negativi delle decisioni di investimento sui fattori di sostenibilità.
        <br><br>
        Gli Agenti collocano prodotti realizzati dalla Compagnia, in coerenza con le indicazioni fornite dalla stessa e con il supporto nei processi consulenziali dei sistemi informatici messi a disposizione dalla Compagnia medesima.
        <br><br>
        In conseguenza di questo, la fornitura delle attività di consulenza in materia di prodotti di investimento assicurativo da parte degli Agenti tiene conto della considerazione dei principali effetti negativi sui fattori di sostenibilità svolta dalla Compagnia nelle sue decisioni di investimento, incluse le azioni intraprese e le azioni pianificate per evitarli o ridurli.    
        </p>
        <h3 style="text-align: center; color:#ffa500;">RIESAME DELLE INFORMAZIONI PUBBLICATE</h3>
        <p style="text-align: center;">
        La presente Politica sarà soggetta ad aggiornamento: in tal caso verrà data spiegazione chiara delle modifiche apportate.
        </p>
        <br>
        <hr />
</div>