    <!--footer-->
    <footer class="p-3 text-center position-relative">
      <div class="container">
          <div class="breadcrumb">
              <a class="breadcrumb-item" href="https://www.instagram.com/bonini.assicurazioni/"><i class="bi bi-instagram h3"></i></a>
              <a class="breadcrumb-item" href="https://www.facebook.com/Bonini.Assicurazioni/"><i class="bi bi-facebook h3"></i></a>
          </div>
          <p id="legal">
              Bonini Assicurazioni & risparmio <br>
              Società iscritta al <a href="https://servizi.ivass.it/RuirPubblica/">Rui</a> il 26/02/2007 <br>
              N° iscrizione A000077554 <br>
              Pec agenzia - 30320@pec.agenzie.unipolassicurazioni.it <br>
              Responsabile dell'attività di distribuzione: Bonini Giancarlo (soggetto a controlli IVASS) <br>
              N° iscrizione: A000087094 <br>
              Data iscrizione: 26/02/2007 <br>
              Agenti <a href="https://www.unipol.it/homepage">Unipol</a> - Compagnia 30320 <br>
              Sede Legale: Via Stalingrado, 45 40128 Bologna <br>
              Telefono: 051 5076111 - Fax: 051 375349 - Mail Pec: unipol@pec.unipol.it <br>
              Agenti <a href="https:/www.unisalute.it/">UniSalute</a> - Compagnia 430320 <br>         
              Sede Legale: Via Larga 8 - 40138 Bologna <br>
              Fax +39 051 320961 - Mail Pec: unisalute@pec.unipol.it <br>
              <a href="/privacy" >Informativa Privacy</a>
              &emsp;
              <a href="/docs/1b_COOKIEPOLICY_WEB_boniniassicurazionierisparmio.com.docx" download>Cookie policy</a>
              &emsp;
              <a href="/docs/Allegato 3.docx" download>Allegato 3</a>
              &emsp;
              <a href="/docs/Allegato 4.docx" download>Allegato 4 - ter</a>
              &emsp;
              <a href="/docs/Livelli provvigionali percepiti dall'Intermediario nell'offerta di contratti relativi all'assicurazione R.C. Auto.docx" download>Livelli provvigionali rca</a>
              &emsp;
              <a href="/docs/Politica sull'integrazione dei rischi di sostenibilità e informazioni sulla considerazione dei principali effetti negativi sui fattori di sostenibilità nella consulenza in materia di Assicurazioni.docx" download>Politica integrazione rischi sostenibilita'</a>
              &emsp;
              <a href="/docs/informativa.pdf" download>Whistleblowing</a> <br>

              <a href="/PAI">Dichiarazione sui principali effetti negativi delle consulenze in materia di assicurazioni sui fattori di sostenibilità</a>
          </p>
          <p class="lead">Copyright &copy; 2025 Bonini Assicurazioni S.a.S.</p>
          <a href="#" class="position-absolute bottom-0 end-0 p-5"><i class="bi bi-arrow-up-circle h3"></i></a>
      </div>
    </footer>    
  </body>
</html>