<div class="container-fluid p-4"><h2 style="text-align: center; color:#ffa500;">ALERT SICUREZZA grave vulnerabilità su WhatsApp per dispositivi Apple
</h2>
    <div class="container">
        <p></p>
        <p><b>Aggiorna subito WhatsApp e proteggi i tuoi dati oggi stesso!</b></p>
        <p><a href="https://www.acn.gov.it/portale/w/vulnerabilita-in-whatsapp-per-dispositivi-apple">L&rsquo;Agenzia per la Cybersicurezza Nazionale (ACN)</a> e <b>Apple</b> hanno diramato un <b>alert di sicurezza urgente</b> relativo a una <b>grave vulnerabilit&agrave;</b> che riguarda <b>WhatsApp e WhatsApp Business</b> su dispositivi <b>Apple (iPhone, iPad e Mac).</b></p>
        <p></p>
        <div class="mx-auto p-3 mt-4" style="text-align: center;"><img src="\images\NotizieImages\26.jpg" class="img-fluid"/></div>
        <p></p>
        <p>La vulnerabilit&agrave;, identificata come <b>CVE-2025-43300</b>, consente di <b>installare un codice malevolo</b> semplicemente <b>inviando un messaggio infetto, senza alcuna interazione da parte dell&rsquo;utente(&ldquo;zero-click&rdquo;)</b>. Questo pu&ograve; compromettere <b>la sicurezza del dispositivo e dei dati personali o aziendali.</b></p>
        <p></p>
        <h4 style="color:#ffa500;">Quali versioni sono a rischio?</h4>
        <p></p>
        <ul>
        <li><p><b>WhatsApp per iOS</b>: versioni precedenti alla 2.25.21.73 </p></li>
        <li><p><b>WhatsApp per Mac:</b> versioni precedenti alla 2.25.21.78</p></li>
        <li><p><b>WhatsApp Business per iOS:</b> versioni precedenti alla 2.25.21.78</p></li>
        </ul>
        <h4 style="color:#ffa500;">Cosa fare subito?</h4>
        <p></p>
        <ul>
        <li><b><p>Aggiorna WhatsApp</b> all&rsquo;ultima versione disponibile su App Store (iOS/iPadOS/macOS).</p></li>
        <li><p><b>Verifica e aggiorna</b> anche il sistema operativo del dispositivo.</p></li>
        <li><p>Mantieni <b>sempre aggiornati</b> tutti i tuoi dispositivi, sia aziendali sia personali.</p></li>
        </ul>
        <p>Meta, la societ&agrave; proprietaria di WhatsApp, ha gi&agrave; rilasciato una <b>patch di sicurezza</b> per risolvere il problema, ma <b>l&rsquo;aggiornamento immediato &egrave; fondamentale</b> per proteggere i tuoi dati.</p>
        <p></p>
        <h4 style="color:#ffa500;">Proteggi i tuoi dati con la nostra polizza cyber</h4>
        <p></p>
        <p>Gli attacchi informatici sono sempre pi&ugrave; frequenti e sofisticati. La nostra <b>polizza di protezione contro il cyber-rischio</b>, a partire <b>da 14 &euro; al mese</b>, garantisce assistenza malware, ricostruzione archivi, dati e programmi, oltre al risarcimento danni a terzi causati dalla divulgazione di dati dal database dell&rsquo;assicurato (leggi un approfondimento <a href="https://www.boniniassicurazionierisparmio.com/notizia13">qui</a>).</p>
        <p>Metti al sicuro la tua privacy, i tuoi dispositivi e la tua attivit&agrave;.</p>
        <p></p>
        <p>Per maggiori informazioni sulla <b>polizza cyber</b>, contattaci allo 0321324000 oppure scrivici alla mail 30320@agenzia.unipol.it</p>
        
    </div>
</div>