<div class="container-fluid p-4"><h2 style="text-align: center; color:#ffa500;">Oggi prendersi cura della propria salute può diventare una sfida… vincila con “Sì Salute” di Unipol
</h2>
    <div class="container">
        <p style='margin:0cm;margin-bottom:12.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";margin-top:12.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Montserrat;">Non meno di un anno per una visita dermatologica, almeno un paio di mesi per una pneumologica, pi&ugrave; di 100 giorni per una risonanza magnetica, circa una mese per una Tac e qui ci fermiamo. Sono numeri ufficiali dell&rsquo;Asl di Novara aggiornati al mese di marzo 2026.<span style="color:red;">&nbsp;</span>Tra liste d&rsquo;attesa infinite e costi significativi nel settore privato, troppo spesso si finisce per <strong>rimandare controlli importanti</strong>. Eppure, una soluzione semplice esiste. Una risposta concreta: pi&ugrave; accessibile, pi&ugrave; veloce, pi&ugrave; semplice e&hellip; gratuita.</span></p>
<p style='margin:0cm;margin-bottom:12.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";margin-top:12.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Montserrat;">Con il servizio <strong>&ldquo;S&igrave; Salute&rdquo; di Unipol</strong>, attivo automaticamente e <strong>gratuitamente</strong> insieme alla tua <strong>polizza infortuni</strong> ma anche con anche<strong>&nbsp;Unica</strong> e con i <strong>piani pensionistici</strong>, hai accesso a un sistema di servizi pensati per rendere la sanit&agrave; pi&ugrave; accessibile, veloce e conveniente.</span></p>
<p style='margin:0cm;margin-bottom:12.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";margin-top:12.0pt;margin-right:0cm;margin-left:0cm;'><strong><span style="font-family:Montserrat;">Cosa puoi fare concretamente?</span></strong></p>
<ul style="margin-left: 26px;">
    <li><span style="font-family:Montserrat;">Prenotare visite ed esami in pochi click</span></li>
    <li><span style="font-family:Montserrat;">Accedere a <strong>sconti fino al 30%</strong> su visite specialistiche, esami e fisioterapia</span></li>
    <li><span style="font-family:Montserrat;">Parlare con un medico tramite chat o televisita</span></li>
    <li><span style="font-family:Montserrat;">Ottenere supporto rapido grazie alla telemedicina</span></li>
    <li><span style="font-family:Montserrat;">Contare su una rete di strutture convenzionate di qualit&agrave; in tutta Italia</span></li>
</ul>
<p style='margin:0cm;margin-bottom:12.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";margin-top:12.0pt;margin-right:0cm;margin-left:0cm;'><strong><span style="font-family:Montserrat;">E tutto questo direttamente da App:</span></strong></p>
<ul style="margin-left: 26px;">
    <li><span style="font-family:Montserrat;">Prenotazioni semplici e immediate</span></li>
    <li><span style="font-family:Montserrat;">Pharma Checker per una prima valutazione dei sintomi</span></li>
    <li><span style="font-family:Montserrat;">Consultazione di farmaci e bugiardini</span></li>
    <li><span style="font-family:Montserrat;">Contenuti e consigli per il tuo benessere</span></li>
</ul>
<p style='margin:0cm;margin-bottom:12.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";margin-top:12.0pt;margin-right:0cm;margin-left:0cm;'><span style="font-family:Montserrat;">In pi&ugrave;, puoi scegliere il livello di assistenza pi&ugrave; adatto alle tue esigenze: dal medico online fino al supporto completo h24, passando per servizi dedicati anche ai pi&ugrave; piccoli, come il pediatra online.</span></p>
<p style='margin:0cm;margin-bottom:12.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";margin-top:12.0pt;margin-right:0cm;margin-left:0cm;'><strong><span style="font-family:Montserrat;">Perch&eacute; la salute non dovrebbe dipendere dai tempi di attesa.</span></strong><span style="font-family:Montserrat;">&nbsp;<br> Contatta i nostri <strong>Professionisti del Capitale Umano</strong> per scoprire tutti i dettagli!</span></p>


        <div class="mx-auto p-3 mt-4" style="text-align: center;"><img src="\images\NotizieImages\32.jpeg" class="img-fluid"/></div>
    </div>
</div>