<div class="container-fluid p-4"><h3 style="text-align: center; color:#ffa500;">Arriva l’autunno: cadono le foglie e diminuiscono le pensioni… </h3>
<p>Si avvicina l&rsquo;autunno con le sue &ldquo;certezze&rdquo;: cadono le foglie, comincia la scuola, torna il campionato di calcio e si prospetta l&rsquo;ennesima stretta alle pensioni&hellip;</p>
<p>Del resto, per far quadrare i conti dello Stato spesso e volentieri il Governo sceglie di far ricorso alla leva delle pensioni: una voce che da sola pesa oltre 300 miliardi di euro all&rsquo;anno, un terzo del portafoglio del Belpaese.</p>
<p></p>
<p>La strategia per &ldquo;fare cassa&rdquo; risparmiando circa un miliardo di euro, questa volta, prevederebbe l&rsquo;allungamento delle cosiddette finestre temporali per l&rsquo;accesso alla pensione solo sulla base dei contributi e indipendentemente dall&rsquo;et&agrave;: dagli attuali 42 anni e dieci mesi di contributi (se donne 41 anni e dieci mesi) a 43 anni e quattro mesi (se donne 42 anni e quattro mesi)...</p>
<p></p>
<p>Un miliardo risparmiato su 300 di spesa per sostenere il sistema: un palliativo o poco pi&ugrave; che non riordina un sistema con tanti elementi di criticit&agrave;. Due esempi: da un lato la miriade di norme, accompagnate da altrettanti requisiti, in vigore (Quota 100, 102, 103, pensioni anticipate, opzione donna, Ape sociale, scivoli frutto di accordo con le aziende, senza contare deroghe e cavilli derivanti dalla riforma amato del 1992); dall&rsquo;altro il boom di fuoriusciti dal mondo del lavoro negli ultimi 5 anni, oltre 1,5 milioni.</p>
<p></p>
<p>Proprio il record di pensionamenti post 2019 fa suonare un campanello d&rsquo;allarme anticipando un problema che emerger&agrave; fortemente nel prossimo futuro. Da tempo, infatti, analisti ed esperti affermano che il rapporto tra individui in et&agrave; lavorativa (15-64 anni) e non (0-14 e 65 anni e pi&ugrave;) passer&agrave; da circa tre a due nel 2021 a circa uno a uno nel 2050 (leggi il nostro approfondimento <a href="http://www.boniniassicurazionierisparmio.com/notizia1">qui</a>). Traducendo, chi pagher&agrave; le pensioni degli over65 fra trent&rsquo;anni?</p>
<p></p>
<p>Il rischio di non percepire alcuna pensione appare, al momento, remoto, ma che l&rsquo;assegno sar&agrave; pi&ugrave; &ldquo;leggero&rdquo; &egrave; una certezza. Perch&eacute;? Stipendi pi&ugrave; bassi per gli under 35, crescente mobilit&agrave;, carriere segmentate, sono alcuni dei motivi che portano ad una sensibile riduzione: oggi, infatti, chi va in pensione riceve circa il 60% dell&rsquo;ultimo stipendio, con il passaggio dal sistema retributivo a quello contributivo potrebbe scendere fino al 45% perch&eacute; si sommerebbero tutti gli anni di lavoro, anche quelli in cui lo stipendio era pi&ugrave; basso. Se vuoi saperne di pi&ugrave; puoi leggere <a href="http://www.boniniassicurazionierisparmio.com/notizia7">qui.</a></p>
<p></p>
<p>Ecco perch&eacute; proteggere e valorizzare i risparmi oltre a dotarsi di una previdenza integrativa diventa una necessit&agrave; imprescindibile per mettere al sicuro il proprio futuro e quello dei propri cari. Un percorso in cui i nostri professionisti del capitale umano possono accompagnarvi con consigli e prodotti su misura.</p>
<p></p>
<p>L&rsquo;alternativa? Fare la fine della cicala nell&rsquo;inverno della vita&hellip; oppure fare &ldquo;scorta&rdquo;, come l&rsquo;avveduta formica (ve la ricordate la favola?).</p>
<p>Come? Un esempio tra i tanti: rafforzare la futura pensione con un PIP (piano individuale pensionistico) che consente di:</p>
<p></p>
<ul>
<li><p>modulare il numero o l&rsquo;importo dei versamenti,</p></li>
<li><p>attingere prima della scadenza a parte del capitale maturato,</p></li>
<li><p>dedurre dal reddito ai fini Irpef fino a 5.164,57 &euro;,</p></li>
<li><p>trasferire il TFR alla previdenza integrativa con un risparmio fiscale minimo dell&rsquo;8%.</p></li>
</ul>
<p>Se sei interessato ad approfondire questi temi contatta il tuo agente di fiducia. Puoi anche inviare una mail all&rsquo;indirizzo 30320@unipolsai.it per fissare un appuntamento o chiamare in agenzia allo 0321/624000.</p></h3></div>