<div class="container-fluid p-4"><h2 style="text-align: center; color:#ffa500;">La forza di un’impresa sta nelle persone… a maggior ragione nei suoi uomini chiave</h2>
<div class="container">
<p>Un <b>buon imprenditore</b> lo sa bene: <b>prevenire &egrave; meglio che curare&hellip; &Egrave;</b> per questo che vengono assicurati fabbricati, macchinari, attrezzature, tecnologia e tutto quanto concorre al buon funzionamento del ciclo produttivo o alla fornitura del servizio.</p>
<p>Si tratta di polizze non obbligatorie che, giustamente, vengono sottoscritte per affrontare eventuali sinistri che possono portare a blocchi della produzione o crisi economiche anche gravi. Insomma, <b>buone prassi</b> che da sole, per&ograve;, possono non bastare&hellip;</p>
<p></p>
<p>Proprio cos&igrave;. La forza di un&rsquo;impresa, qualunque essa sia, infatti, sono le persone a maggior ragione se ricoprono ruoli apicali e strategici. Le competenze di dipendenti e collaboratori sono un elemento qualificante per ogni realt&agrave; imprenditoriale ma &egrave; il know how di chi &egrave; &ldquo;al comando&rdquo; a rappresentare il <b>valore aggiunto determinante.</b> </p>
<p>Manager, amministratori delegati, soci ma anche fondatori ed eredi nelle realt&agrave; medio piccole, sono da considerarsi un <b>asset strategico</b> dell&rsquo;azienda: basta pensare all&rsquo;importanza delle relazioni e agli aspetti commerciali. Per questo con le <b>polizze Key man</b> &egrave; possibile tutelare e garantire la continuit&agrave; di business anche nel caso di prematura scomparsa, malattia grave, disabilit&agrave; permanente o non autosufficienza di uno di questi soggetti.</p>
<p></p>

<div class="mx-auto p-3 mt-4" style="text-align: center;"><img src="\images\NotizieImages\22.jpeg" class="img-fluid"/></div>

<p>Si tratta di polizze che hanno come contraente e beneficiario l&rsquo;azienda stessa e come assicurato l&rsquo;uomo chiave. Soluzioni utili a garantire la liquidit&agrave; necessaria per <b>superare il momento critico</b> mettendo a disposizione le risorse necessarie per affrontare, ad esempio, una riorganizzazione, un calo di fatturato, la ricerca di nuove figure professionalmente qualificate. </p>
<p></p>
<p>Un paio di suggerimenti. Il capitale da assicurare non ha limiti specifici ma &egrave; opportuno che sia <b>congruo</b> al ruolo e alle funzioni dell&rsquo;assicurato (ad esempio il valore reale delle quote in una SRL). Si pu&ograve; <b>dedurre il premio assicurativo</b> dal reddito d&rsquo;impresa (art. 109 comma 5 del TUIR) correlando la fondamentale presenza del Key man in azienda con la sussistenza dell&rsquo;azienda stessa. </p>
<p></p>
<p>Per tutti i dettagli e per individuare la migliore soluzione con i nostri <b>Professionisti del Capitale Umano</b> telefona allo 0321/624000 oppure invia una mail a 30320@agenzia.unipol.it</p>
</div>
</div>