<div class="container-fluid p-4"><h2 style="text-align: center; color:#ffa500;">Cybersecurity, cambia tutto: arriva la Direttiva NIS2?
</h2>
    <div class="container">
    <p>La sicurezza informatica non &egrave; pi&ugrave; solo una questione tecnica: con la nuova Direttiva NIS2, entra a pieno titolo nell&rsquo;agenda strategica delle imprese europee.</p>
    <p></p>
    <p>Approvata dall&rsquo;Unione Europea con la Direttiva (UE) 2022/2555, la <a href="https://digital-strategy.ec.europa.eu/it/policies/nis2-directive">NIS2</a> ridefinisce le regole per la protezione delle reti e dei sistemi informativi, introducendo un quadro normativo pi&ugrave; stringente e omogeneo a livello comunitario. L&rsquo;obiettivo &egrave; innalzare il livello di cybersicurezza in tutti gli Stati membri, attraverso obblighi chiari, strumenti di vigilanza efficaci e responsabilit&agrave; diretta del management.</p>
    <p></p>
    <b><p>Chi &egrave; coinvolto?</p></b>
    <p> La normativa riguarda le aziende pubbliche e private che operano in settori essenziali e critici come energia, trasporti, finanza, sanit&agrave;, ICT, infrastrutture digitali, gestione acque e rifiuti, servizi postali, produzione chimica e molti altri. Il criterio dimensionale prevede che, di norma, rientrino nel perimetro NIS2 tutte le imprese con almeno 50 dipendenti o un fatturato annuo superiore a 10 milioni di euro.</p>
    <p></p>
    <b><p>Cosa cambia davvero?</p></b>
    <p> NIS2 attribuisce all&rsquo;alta dirigenza un ruolo centrale nella gestione della sicurezza informatica. &Egrave; infatti obbligatorio:</p>
    <p></p>
    <ul>
    <li><p>formare il personale sui rischi cyber;</p></li>
    <li><p>adottare misure tecniche e organizzative adeguate alla prevenzione degli attacchi;</p></li>
    <li><p>notificare tempestivamente eventuali incidenti alle autorit&agrave; competenti, ai clienti e ai fornitori;</p></li>
    <li><p>vigilare affinch&eacute; anche i fornitori adottino sistemi di gestione del rischio informatico.</p></li>
    </ul>
    <p></p>
    <p>Le sanzioni per il mancato rispetto della normativa possono arrivare fino a 10 milioni di euro. Inoltre, i dirigenti responsabili possono essere chiamati a rispondere personalmente di danni patrimoniali subiti da clienti, soci o creditori, fino alla decadenza dall&rsquo;incarico.</p>
    <p></p>
    <b><p>Un nuovo approccio che richiede nuove tutele.</p></b>
    <p> Per aiutare le aziende ad affrontare con serenit&agrave; questo cambiamento la nostra proposta &egrave; la <b>polizza Cyber Risk</b> di Unipol che si integra perfettamente con i requisiti della normativa NIS2. Se &egrave; vero che la direttiva impone nuove responsabilit&agrave; rappresenta anche un&rsquo;opportunit&agrave; per ripensare la sicurezza come leva di competitivit&agrave; e la nostra polizza Cyber Risk &egrave; lo strumento ideale per proteggere la tua azienda da ogni punto di vista.</p>
    <p></p>
    <p>La nostra copertura assicurativa, infatti, offre protezione a 360&deg;:</p>
    <p></p>
    <ul>
    <li><p><b>danni materiali</b> ai sistemi informatici e alle infrastrutture IT;</p></li>
    <li><p><b>perdite patrimoniali</b> e <b>mancato guadagno</b> dovuti a interruzioni di attivit&agrave; causate da attacchi informatici;</p></li>
    <li><p><b>costi per la gestione tecnica della crisi</b>, il ripristino dei dati e la ricostruzione delle banche dati compromesse;</p></li>
    <li><p><b>danni a terzi</b>, nel caso in cui un attacco subito dalla tua azienda causi impatti su clienti, partner o fornitori.</p></li>
    </ul>
    <p></p>
    <b><p>Vuoi saperne di pi&ugrave;? Contattaci per una consulenza dedicata, invia una mail a 30320@agenzia.unipol.it</p></b>
            
    <div class="mx-auto p-3 mt-4" style="text-align: center;"><img src="\images\NotizieImages\24.jpeg" class="img-fluid"/></div>

       </div>
</div>