<div class="container-fluid p-4"><h2 style="text-align: center; color:#ffa500;">QUANDO UN EURO FA LA DIFFERENZA -La storia di Giada</h2>
<div class="mx-auto p-3 mt-4" style="text-align: center;"><img src="\images\NotizieImages\18.jpg" class="img-fluid"/></div>
<div class="container">
<p>Giada &egrave; una bambina di pochi mesi piena di riccioli, i Genitori, dopo aver letto un articolo di giornale, decidono subito di iscriverla alla <b>Previdenza integrativa</b> versando 1 &euro; . </p>
<p></p>
<p>Grazie a questa iscrizione durante i suoi primi 18 anni, stipulata con <b>Previdenza Futura</b> di Unipolsai, usufruisce gratuitamente una volta all&rsquo;anno di visite specialistiche di prevenzione nelle strutture Unisalute.</p>
<p></p>
<p>In questi 18 anni Genitori, Nonni e parenti indirizzano, quando vogliono, le &ldquo;mance&rdquo; su <b>Previdenza Futura</b> di Giada. Somme che i Genitori potranno dedurre fiscalmente dal reddito pagando cos&igrave; meno tasse.</p>
<p></p>
<p>Giada, a 18 anni, si diploma e decide di festeggiare facendosi una Vacanza ad Atene. Ha uno spirito indipendente e vuole pagarsi la vacanza da sola, perci&ograve; decide di prendere il 30% del capitale maturato da <b>Previdenza Futura</b> senza dover chiedere ai Genitori. </p>
<p></p>
<p>Gli anni passano Giada trova lavoro a 30 anni come Impiegata e destina il proprio TFR a Previdenza Futura. </p>
<p></p>
<p>3 anni dopo decide di comprare casa e, invece di fare un mutuo &ldquo;pesante&rdquo;, riduce la rata prelevando da <b>Previdenza Futura</b> il 75% delle somme maturate senza dover aspettare gli 8 anni qualora si fosse iscritta alla Previdenza solo dopo aver trovato lavoro.</p>
<p></p>
<p>Nel frattempo Unipolsai le comunica che a 33 anni la tassazione del suo capitale non &egrave; pi&ugrave; il 15 % ma il 9,6% e che fra 2 anni diventer&agrave; il 9% perch&eacute; sono passati 33 anni dall&rsquo;iscrizione.</p>
<p></p>
<p>Giada a 34 anni diventa mamma: la prima cosa che fa per suo figlio Flavio &egrave; prendere un 1 &euro; e iscriverlo subito alla Previdenza integrativa&hellip; senza dover leggere nessun articolo di giornale.</p>
<p></p>
<p>La storia di Giada e della sua famiglia ci dice molto di come possiamo prenderci cura delle persone che amiamo. Se sei interessato ad avere qualche informazione in pi&ugrave; su <b>Previdenza Futura</b> UnipolSai contattaci in agenzia o invia una mail a 30320@unipolsai.it.</p>
</div>
</div>