<div class="container-fluid p-4"><h2 style="text-align: center; color:#ffa500;">Una polizza unica per proteggere tutto ciò che conta
</h2>
    <div class="container">

        <h4 style="text-align: center; color:#ffa500;">Scudo Famiglia: da una storia vera la protezione per quello che conta davvero </h4>
        <p></p>
        <p>Ci sono giorni che iniziano come tutti gli altri&hellip; ma che finiscono cambiando per sempre una famiglia. E&rsquo; per questo motivo che Bonini Assicurazioni ha ideato e predisposto <b>Scudo Famiglia</b>: un <b>prodotto unico nel suo genere</b> che mettiamo a disposizione di tutti i nostri clienti.</p>
        <p></p>
        <p><b>Scudo Famiglia</b> non nasce dal caso ma da una storia vera&hellip; Un uomo di 53 anni, padre, marito, lavoratore. Una vita normale, un reddito stabile, progetti ancora da realizzare. Poi, all&rsquo;improvviso, un ictus.</p>
        <p></p>
        <p>In poche ore <b>perde l&rsquo;autonomia, il lavoro, il futuro che aveva costruito</b>. Rimane invalido al 100%. Il reddito mensile passa da 3.000 euro a 800 euro di pensione di invalidit&agrave;. Ma il vero peso non &egrave; quello economico. La moglie lascia il lavoro per assisterlo ogni giorno. I figli rinunciano a parte della loro giovinezza per aiutare la famiglia. Le spese mediche aumentano, una dopo l&rsquo;altra. Per andare avanti, sono costretti a vendere una casa di propriet&agrave;.</p>
        <p></p>
        <p>Sette anni cos&igrave;. Sette anni di <b>cure, rinunce, sacrifici silenziosi</b>. Fino alla morte del padre. Una storia dolorosa. E purtroppo molto pi&ugrave; comune di quanto pensiamo. </p>
        <p></p>
        <p>In Italia:</p>
        <p></p>
        <ul>
            <li><p>l&rsquo;ictus &egrave; la prima causa di invalidit&agrave; e la seconda di morte,</p></li>
            <li><p>ogni anno si verificano circa 230.000 infarti e 60.000 ictus,</p></li>
            <li><p>si diagnosticano oltre 180.000 nuovi tumori,</p></li>
            <li><p>tra i 50 e i 69 anni il 20% degli uomini e il 14% delle donne si ammala di tumore, percentuale che supera il 50% dopo i 70 anni.</p></li>
        </ul>
        <p>Numeri che non sono solo statistiche. Sono famiglie, storie, <b>vite che cambiano</b>. Da questa consapevolezza nasce <b>Scudo Famiglia</b>. Un prodotto ideato da Bonini Assicurazioni per proteggere davvero il nucleo familiare nei momenti pi&ugrave; difficili.</p>
        <p></p>
        <p>Con Scudo Famiglia:</p>
        <p></p>
        <ul>
            <li><p>c&rsquo;&egrave; <b>subito un capitale</b> per affrontare le spese urgenti e il mancato reddito,</p></li>
            <li><p>c&rsquo;&egrave; <b>una rendita mensile a vita</b>, tra 1.000 e 2.000 euro, in caso di disabilit&agrave;,</p></li>
            <li><p>c&rsquo;&egrave; <b>un capitale per la famiglia</b>, in caso di decesso, per guardare al futuro con maggiore serenit&agrave;.</p></li>
        </ul>
        <p>Perch&eacute; quando arriva l&rsquo;imprevisto, non &egrave; il momento di scoprire di essere soli. La protezione giusta pu&ograve; fare davvero la differenza tra <b>una crisi che travolge tutto</b> e una difficolt&agrave; che si pu&ograve; <b>affrontare con dignit&agrave;</b>.</p>
        <p></p>
        <p>Contatta oggi i nostri <b>Professionisti del capitale umano</b> per costruire insieme uno Scudo Famiglia su misura per te e per chi ami.</p>

        <div class="mx-auto p-3 mt-4" style="text-align: center;"><img src="\images\NotizieImages\30.jpeg" class="img-fluid"/></div>
      
    </div>
</div>