<div class="container-fluid p-4"><h2 style="text-align: center; color:#ffa500;">Se ti nasce un figlio, qual è il primo pensiero? Proteggerlo. Subito.
</h2>
    <div class="container">
        <p style='margin:0cm;margin-bottom:9.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";'><span style="font-size:13px;line-height:115%;font-family:Montserrat;">Quando hai un figlio &egrave; importante sapere che, qualunque cosa accada, il suo percorso sar&agrave; al sicuro. Non si tratta soltanto di &ldquo;mettere qualcosa da parte&rdquo; bens&igrave; di costruire un percorso solido che accompagni i bambini nel tempo e li tuteli fin da subito.</span></p>
<p style='margin:0cm;margin-bottom:9.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";'><span style="font-size:13px;line-height:115%;font-family:Montserrat;">&Egrave; in questo contesto che si inserisce&nbsp;<strong>CRESCITA PROGETTO 16</strong>, una soluzione per bambini da 0 a 12 anni che unisce protezione, risparmio e flessibilit&agrave;.<br> Non &egrave; un semplice piano di accumulo. &Egrave; un progetto di vita che introduce un elemento centrale: la <strong>protezione immediata</strong>.</span></p>
<p style='margin:0cm;margin-bottom:9.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";'><span style="font-size:13px;line-height:115%;font-family:Montserrat;">L&rsquo;obiettivo non &egrave; solo costruire un capitale nel tempo, ma assicurare continuit&agrave; al progetto anche in caso di imprevisti, mettendo al centro il futuro del bambino. Allo stesso tempo, viene riconosciuta una seconda esigenza fondamentale delle famiglie: la flessibilit&agrave;.</span></p>
<p style='margin:0cm;margin-bottom:11.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";'><strong><span style="font-size:13px;line-height:115%;font-family:Montserrat;">Le caratteristiche principali del piano</span></strong></p>
<ul style="margin-left: 26px;">
    <li><strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Protezione attiva da subito<br>&nbsp;</span></strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Il piano non guarda solo alla scadenza: tutela il percorso fin dall&rsquo;inizio, garantendo continuit&agrave; anche in caso di eventi imprevisti.</span></li>
    <li><strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Capitale dedicato al figlio<br>&nbsp;</span></strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Le somme accantonate costituiscono un patrimonio separato, pensato esclusivamente per il suo futuro (studio, lavoro, autonomia).</span></li>
    <li><strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Flessibilit&agrave; nei versamenti</span></strong>
        <ul>
            <li><span style="line-height:115%;font-family:Montserrat;font-size:13px;">attivazione con 30 euro</span></li>
            <li><span style="line-height:115%;font-family:Montserrat;font-size:13px;">possibilit&agrave; di versamenti anche saltuari (ricorrenze, regali, disponibilit&agrave; variabili)</span></li>
            <li><span style="line-height:115%;font-family:Montserrat;font-size:13px;">sospensione e ripresa in qualsiasi momento, senza penali</span></li>
        </ul>
    </li>
    <li><strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Integrazione con la previdenza complementare<br>&nbsp;</span></strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Il piano include gi&agrave; una componente previdenziale, con un duplice beneficio:</span>
        <ul class="decimal_type">
            <li><span style="line-height:115%;font-family:Montserrat;font-size:13px;">avvio anticipato della pensione futura del figlio</span></li>
            <li><span style="line-height:115%;font-family:Montserrat;font-size:13px;">vantaggi fiscali per i genitori, con deducibilit&agrave; fino a 5.300 euro annui</span></li>
        </ul>
    </li>
    <li><strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Disponibilit&agrave; delle somme<br>&nbsp;</span></strong><span style="line-height:115%;font-family:Montserrat;font-size:13px;">Il capitale non &egrave; &ldquo;bloccato&rdquo;, ma resta nella disponibilit&agrave; del beneficiario.</span></li>
</ul>
<p style='margin:0cm;margin-bottom:11.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";'><strong><span style="font-size:13px;line-height:115%;font-family:Montserrat;">Il valore della personalizzazione</span></strong></p>
<p style='margin:0cm;margin-bottom:9.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";'><span style="font-size:13px;line-height:115%;font-family:Montserrat;">Un ulteriore elemento distintivo &egrave; la possibilit&agrave; di costruire un piano <strong>tailor made</strong> grazie al supporto dei nostri <strong>Professionisti del Capitale Umano</strong>. Ogni famiglia, infatti, presenta esigenze diverse in termini di disponibilit&agrave;, obiettivi e priorit&agrave;: per questo il progetto pu&ograve; essere modulato nel tempo, accompagnando le diverse fasi della vita adattandosi ai cambiamenti familiari.</span></p>
<p style='margin:0cm;margin-bottom:9.0pt;line-height:115%;font-size:15px;font-family:"Arial","sans-serif";'><span style="font-size:13px;line-height:115%;font-family:Montserrat;">Per approfondire e costruire una soluzione su misura contatta i nostri consulenti.</span></p>

        <div class="mx-auto p-3 mt-4" style="text-align: center;"><img src="\images\NotizieImages\34.jpeg" class="img-fluid"/></div>
    </div>
</div>