
<main>

    <div class="row pb-2" >
        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia23" style="text-decoration:none">
                    <img src="\images\NotizieImages\23.jpeg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Lo sapevi che nei mesi estivi si registra un incremento fino al 40% dei furti in abitazione?
                        </h3>
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Maggio 2025</p>
                    </div>
                </a>   
        </div>


        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia22" style="text-decoration:none">
                    <img src="\images\NotizieImages\22.jpeg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >La forza di un’impresa sta nelle persone… a maggior ragione nei suoi uomini chiave
                        </h3>
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Aprile 2025</p>
                    </div>
                </a>   
        </div>
    </div>

    <div class="row pb-2" >
        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia21" style="text-decoration:none">
                    <img src="\images\NotizieImages\21.jpeg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Vuoi proteggere il tuo patrimonio? Ecco come fare con fondi pensione, polizze vita e piani di accumulo</h3>
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Febbraio 2025</p>
                    </div>
                </a>   
        </div>


        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia20" style="text-decoration:none">
                    <img src="\images\NotizieImages\20.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Novità dalla Finanziaria: la previdenza complementare è un’opportunità per anticipare il pensionamento</h3>
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Gennaio 2025</p>
                    </div>
                </a>   
        </div>
    </div>

    <div class="row pb-2" >

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia20" style="text-decoration:none">
                    <img src="\images\NotizieImages\20.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Novità dalla Finanziaria: la previdenza complementare è un’opportunità per anticipare il pensionamento</h3>
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Gennaio 2025</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia19" style="text-decoration:none">
                    <img src="\images\NotizieImages\19.jpeg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >L'investimento in borsa è davvero sinonimo di rischio?</h3>
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Dicembre 2024</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia18" style="text-decoration:none">
                    <img src="\images\NotizieImages\18.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >QUANDO UN EURO FA LA DIFFERENZA - La storia di Giada</h3>
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Novembre 2024</p>
                    </div>
                </a>   
        </div>

    </div>

    <div class="row pb-2" >

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia17" style="text-decoration:none">
                    <img src="\images\NotizieImages\17.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Quanto vale la tua vita? Proteggi te stesso e i tuoi cari con una polizza Dread Disease</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Ottobre 2024</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia16" style="text-decoration:none">
                    <img src="\images\NotizieImages\16.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Arriva l’autunno: cadono le foglie e diminuiscono le pensioni…”</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Settembre 2024</p>
                    </div>
                </a>   
        </div>


        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia15" style="text-decoration:none">
                    <img src="\images\NotizieImages\15.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Salute: la scienza corre veloce ma serve prevenzione… e un buon “piano B”</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Giugno 2024</p>
                    </div>
                </a>   
        </div>

        </div>

        <div class="row pb-2">

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia14" style="text-decoration:none">
                    <img src="\images\NotizieImages\14.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Salute: la scienza corre veloce ma serve prevenzione… e un buon “piano B”</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Maggio 2024</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia13" style="text-decoration:none">
                    <img src="\images\NotizieImages\13.jpeg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Emergenza cyber risk: come proteggersi da attacchi e furti d'identit&agrave;</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Aprile 2024</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia12" style="text-decoration:none">
                    <img src="\images\NotizieImages\12.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Emergenza spese mediche? Con la tua assicurazione sanitaria un check up gratis all’anno</h3>
                    
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Marzo 2024</p>
                    </div>
            </a>   
        </div>

    </div>

    <div class="row pb-2" >

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia11" style="text-decoration:none">
                    <img src="\images\NotizieImages\11.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Caos pensioni: La nostra mappa per capirci qualcosa di pi pi&ugrave;</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Febbraio 2024</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia2" style="text-decoration:none">
                    <img src="\images\NotizieImages\2.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Obbligo di assicurazione contro le calamit&agrave;: l&rsquo;opportunit&agrave; oltre l&rsquo;imposizione</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Gennaio 2024</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia5" style="text-decoration:none">
                    <img src="\images\NotizieImages\5.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Salute e prevenzione: solo il 41% degli italiani si sottopone a controlli regolari</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Gennaio 2024</p>
                    </div>
                </a>   
        </div>

    </div>

    <div class="row pb-2" >
        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia3" style="text-decoration:none">
                    <img src="\images\NotizieImages\3.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Un italiano su tre paga le spese mediche di tasca propria: una polizza salute garantisce servizi e consente di risparmiare&nbsp;</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Novembre 2023</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia4" style="text-decoration:none">
                    <img src="\images\NotizieImages\4.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Danni da eventi climatici estremi: non farti trovare impreparato scegli la tua polizza con 1 euro al mese</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Ottobre 2023</p>
                    </div>
                </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia6" style="text-decoration:none">
                    <img src="\images\NotizieImages\6.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Emergenza incidenti domestici: donne e over 65 i più a rischio</h3>
            
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Aprile 2023</p>
                    </div>
            </a>   
         </div>

    </div>

    <div class="row pb-2" >

         

         <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia7" style="text-decoration:none">
                    <img src="\images\NotizieImages\7.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Lavoro povero e mobilità professionale: come prepararsi alla pensione</h3>
            
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Marzo 2023</p>
                    </div>
            </a>   
         </div>

         <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia8" style="text-decoration:none">
                    <img src="\images\NotizieImages\8.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Emergenza cyber-sicurezza metti al sicuro te stesso o la tua azienda con una polizza cyber risk</h3>
            
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Febbraio 2023</p>
                    </div>
            </a>   
         </div>

    </div>

    <div class="row pb-2" >

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia1" style="text-decoration:none">
                    <img src="\images\NotizieImages\1.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >&Egrave; tempo di rilassarsi e godersi la pensione&hellip; ma nemmeno per sogno!</h3>
            
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Gennaio 2023</p>
                    </div>
            </a>   
        </div>

        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia9" style="text-decoration:none">
                    <img src="\images\NotizieImages\9.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Perch&eacute; &egrave; importante essere un assicuratore?</h3>
            
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Gennaio 2023</p>
                    </div>
            </a>   
         </div>
        
        <div class="col-6 mx-auto p-3 mt-4 card" style="width: 24rem;">     
            <a href="/notizia10" style="text-decoration:none">
                    <img src="\images\NotizieImages\10.jpg" class="card-img-top"/>  
                    <div class="card-body">
                        <h3 class="card-title" style="color: #ffa500;" >Tempi lunghi per vistite e prestazioni mediche... non se stipuli una polizza salute</h3>
                
                        <p class="card-text text-end text-muted position-absolute bottom-0 end-0 p-1">Ottobre 2022</p>
                    </div>
            </a>   
        </div>

    </div>
</main>